
TitanicPredictions/.vs/titanicPredictions/DesignTimeBuild/.dtbcache
TitanicPredictions/.vs/titanicPredictions/v15/.suo
TitanicPredictions/.vs/titanicPredictions/v15/Server/sqlite3/db.lock
TitanicPredictions/.vs/titanicPredictions/v15/Server/sqlite3/storage.ide
TitanicPredictions/.vs/titanicPredictions/v15/Server/sqlite3/storage.ide-shm
TitanicPredictions/.vs/titanicPredictions/v15/Server/sqlite3/storage.ide-wal
TitanicPredictions/.vs/titanicPredictions/v16/.suo
TitanicPredictions/.vs/titanicPredictions/v16/Server/sqlite3/storage.ide
TitanicPredictions/.vs/titanicPredictions/v16/Server/sqlite3/storage.ide-shm
TitanicPredictions/.vs/titanicPredictions/v16/Server/sqlite3/storage.ide-wal
TitanicPredictions/bin/Debug/netcoreapp2.1/Data/data.csv
TitanicPredictions/bin/Debug/netcoreapp2.1/model.zip
TitanicPredictions/bin/Debug/netcoreapp2.1/titanicPredictions.deps.json
TitanicPredictions/bin/Debug/netcoreapp2.1/titanicPredictions.dll
TitanicPredictions/bin/Debug/netcoreapp2.1/titanicPredictions.pdb
TitanicPredictions/bin/Debug/netcoreapp2.1/titanicPredictions.runtimeconfig.dev.json
TitanicPredictions/bin/Debug/netcoreapp2.1/titanicPredictions.runtimeconfig.json
TitanicPredictions/bin/Debug/netcoreapp2.1/TitanicPredictions.Train.deps.json
TitanicPredictions/bin/Debug/netcoreapp2.1/TitanicPredictions.Train.dll
TitanicPredictions/bin/Debug/netcoreapp2.1/TitanicPredictions.Train.pdb
TitanicPredictions/bin/Debug/netcoreapp2.1/TitanicPredictions.Train.runtimeconfig.dev.json
TitanicPredictions/bin/Debug/netcoreapp2.1/TitanicPredictions.Train.runtimeconfig.json
TitanicPredictions/bin/Debug/netcoreapp2.1/TitatnicPredictions.deps.json
TitanicPredictions/bin/Debug/netcoreapp2.1/TitatnicPredictions.dll
TitanicPredictions/bin/Debug/netcoreapp2.1/TitatnicPredictions.pdb
TitanicPredictions/bin/Debug/netcoreapp2.1/TitatnicPredictions.runtimeconfig.dev.json
TitanicPredictions/bin/Debug/netcoreapp2.1/TitatnicPredictions.runtimeconfig.json
TitanicPredictions/obj/Debug/netcoreapp2.1/TitanicPredictions.Train.AssemblyInfo.cs
TitanicPredictions/obj/Debug/netcoreapp2.1/TitanicPredictions.Train.AssemblyInfoInputs.cache
TitanicPredictions/obj/Debug/netcoreapp2.1/TitanicPredictions.Train.assets.cache
TitanicPredictions/obj/Debug/netcoreapp2.1/TitanicPredictions.Train.csproj.CoreCompileInputs.cache
TitanicPredictions/obj/Debug/netcoreapp2.1/TitanicPredictions.Train.csprojAssemblyReference.cache
TitanicPredictions/obj/project.assets.json
TitanicPredictions/obj/TitanicPredictions.Train.csproj.nuget.cache
TitanicPredictions/obj/TitanicPredictions.Train.csproj.nuget.dgspec.json
TitanicPredictions/obj/TitanicPredictions.Train.csproj.nuget.g.props
TitanicPredictions/obj/TitanicPredictions.Train.csproj.nuget.g.targets
TitanicPredictions/.vs/titanicPredictions/v16/Server/sqlite3/db.lock
